.header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  border-radius: 20px;
  background-color: #202323;
}


.header-section-left {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 150px;
}

.header-section-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

.header-site-name {
  color: #BAEAD8;
}

.support, .features {
  color: #91b6a8;
  cursor: pointer;
}

.sign-in {
  background-color: #95C672;
  color: #f8f8f8;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.get-started {
  background-color: #0D3A2D;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}