<header class="header">
  <h1 class="header-title">awake</h1>
  <ul class="header-list">
    <li class="header-item"><a href="#" class="header-link">Home</a></li>
    <li class="header-item"><a href="#" class="header-link">About</a></li>
    <li class="header-item"><a href="#" class="header-link">Contact</a></li>
    <li class="header-item"><a href="#" class="header-link">Bot</a></li>
  </ul>
  <ul class="header-list-left">
    <li class="header-item-left"><a href="#" class="header-link">Account</a></li>
  </ul>
</header>