.header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  background-color: #3C3C3C;
}


.header-section-left {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 40px;
}

.header-section-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

.header-h1 {
  color: white;
}