.header {
  display: flex;
  align-items: center;   
  justify-content: space-between;
  flex-wrap: wrap;
  width: clamp(300px, 80vw, 80vw);
  height: 80px;
  margin-bottom: 100px;
}

.header-title {
  color: #ffffff;
  margin-left: 20vw;
}

.header-list, .header-list-left {
  display: flex;
  list-style: none;
  gap: 2em;
  padding: 0;
  .header-item, .header-item-left {
    .header-link {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 1.1em;
      &:hover {
        color: #007acc;
      }
    }
  }
}

.header-list-left {
  margin-right: 30px;
}


@media (max-width: 1000px) {
  .header-list {
    display: none;
  }
}

@media (max-width: 500px) {
  .header-list-left {
    display: none;
  }
}

@media (max-width: 500px) {
  .header-title {
    flex-direction: column;
  }
}