.header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: clamp(715px, 100%, 100%);
  border-radius: 20px;
  background-color: #efefef;
}

.header-section-left {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 150px;
}

.header-section-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

.header-site-name {
  color: #003d2d;  
}

.support, .features {
  color: #003d2d;
  cursor: pointer;
  &:hover {
    color: #95c672;
  }
}

.sign-in {
  background-color: #95c672;
  color: #f8f8f8;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.get-started {
  background-color: #003d2d;
  border: none;
  color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}