.header {
  display: flex;
  height: 100px;
  justify-content: space-between
}

.header-right{
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-right: 30px;
}

.header-logo {
  align-self: center;
  height: 75px;
  width: 75px;
  margin-left: 30px;
  border-radius: 400px;
}

.header-info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding-right: 20px;
  :hover {
      cursor: pointer;
      color: #FFD700;
    }
  ul {
    width: 60px;
    color: white;
    padding-left: 30px;
    
  }
}

.header-search {
  display: flex;
  align-items: center;
}