.account-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #2d2e2d;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 20px;
    .profile-pic-img{
        width: 100%;
        height: auto;
    }
}

.profile-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #2d2e2d;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}