.subscription-plan-area {
    display: flex;
    gap: 40px;
    height: 500px;
    justify-content: center;
}

.subscription-card {
    display: flex;
    flex: 0 0 clamp(200px, 30vw, 250px);
    //min-width: clamp(200px, 30vw, 250px);
    height: 300px;
    align-self: end;
    justify-self: center;
    border-radius: 10px;
    background-color: #003d2d;
    color: #F2E968;
}

.subscription-plan-header {
    color: #95c672;
    text-align: center;
    height: 50px;
}

.subscription-price {
    font-size: 25px;
    margin: 0;
    padding-left: 20px;
}

.subscription-card-header {
    color: #F2E968;
    font-size: 20px;
    padding: 20px 0 0 20px;
}

.subscription-months {
    font-size: 12px;
}

.subscription-features {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
