<div class="subscription-plan-area">
  <h1 class="subscription-plan-header"></h1>

  <mat-card class="subscription-card" *ngFor="let plan of plans">

    <mat-card-title class="subscription-card-header">
      {{ plan.title }}
    </mat-card-title>

    <mat-card-subtitle>
      <span class="subscription-price">
        {{ plan.price }} <sub>{{ plan.months }}</sub>
      </span>
    </mat-card-subtitle>

    <mat-card-content class="subscription-card-features">
      <p>Features</p>
      <ul>
        <li *ngFor="let feature of plan.features">{{ feature }}</li>
      </ul>
    </mat-card-content>

  </mat-card>
</div>
