.subscription-plan-area {
    display: flex;
    height: 500px;
    justify-content: center;
}

.subscription-plan-header {
    color: #BAEAD8;
    height: 50px;
}

.subscription-text {
    color: #BAEAD8;
}

.subscription-card {
    display: flex;
    width: 300px;
    height: 300px;
    align-self: end;
    justify-self: center;
    border-radius: 10px;
    background-color: #3C3C3C;
}