.subscription-plan-area {
  display: flex;
  gap: 70px;
  height: 500px;
  justify-content: center;
}

.subscription-card {
  display: flex;
  flex: 0 0 clamp(200px, 30vw, 250px);
  //min-width: clamp(200px, 30vw, 250px);
  height: 300px;
  align-self: end;
  justify-self: center;
  border-radius: 10px;
  //background-color: var(--bg);
  color: #ffffff;
  box-shadow: var(--shadow-m);
  backdrop-filter: blur(7px);
}

.subscription-price {
  font-size: 25px;
  margin: 0;
  padding-left: 20px;
  color: var(--text);
}

.subscription-card-header {
  color: var(--text);
  font-size: 20px;
  padding: 20px 0 0 20px;
}

.subscription-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscription-price-months {
  font-size: 16px;
  color: var(--text-muted);
}

.subscription-feature {
  gap: 40px;
}
