.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
}

.small-box {
    background-color: #3a3b3a;
    border-radius: 8px;
    height: 75px;
}
.big-box {
    background-color: #3a3b3a;
    border-radius: 8px;
    grid-column: span 3;
    height: 75px;
}