.changing-word{
    color: #ff4081;
    font-weight: bold;
    animation: changeWord 6s infinite;
    border-right : 1px solid #ffffff;
}

.discord-bot-section{
    display: flex;
    justify-content: space-between;
    margin: 0 20vw 0 20vw;
}

.discord-bot-promotion-h1{
    font-size: 2rem;
}

.discord-bot-promotion{
    display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: start;
}
.discord-bot-promotion-button{
    width: fit-content;
    border-radius: 20px;
}

.discord-bot-image{
    width: clamp(300px, 55vw, 55vw);
    //width: 55vw;
    height: clamp(300px, 300px, 300px);
}