.main-content{
    display: flex;
    flex-direction: column;
    color: white;
    width: 40vw;
    padding-left: 10vw;
}
.main-content-button{
    width: 140px;
    color: white;
    background-color: transparent;
}