<div class="main-content-container">
    <div class="container-top">
        <div class="small-box-top"></div>
        <div class="small-box-top"></div>
        <div class="small-box-top"></div>
        <div class="big-box-top"></div>
    </div>
    <div class="container12">

        <div class="container-bottom">
            <div class="small-box-bottom"></div>
            <div class="small-box-bottom"></div>
            <div class="big-box-bottom"></div>
        </div>
        
        <div class="container-bottom">
            <div class="small-box-bottom"></div>
            <div class="small-box-bottom"></div>
            <div class="big-box-bottom"></div>
        </div>
    </div>
</div>