.main-content {
  display: flex;
  flex-direction: column;
  color: white;
  width: 35vw;
  padding-left: 10vw;
}

.main-content-p {
  color: var(--text-muted);
  padding-bottom: 20px;
}

.main-content-button {
  width: 130px;
  height: 35px;
  border-radius: 30px;
  background-color: var(--bg-white);
  border: none;
  padding: 5px;
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
