<!-- <h1 class="reactive-text">Pushing the limits of modern <span class="changing-word">{{ currentWord }}</span></h1> -->
<div class="discord-bot-section">
    <div class="discord-bot-promotion">
        <h1 class="discord-bot-promotion-h1">discord bot security</h1>
        <p class="discord-bot-promotion-p">our bot offers a range of security features to help protect your server</p>
        <p class="discord-bot-promotion-p">from anti-spam measures to user verification, we've got you covered.</p>
        <button class="discord-bot-promotion-button">Get Started</button>
    </div>
    <img class="discord-bot-image" src="HONSE.jpg" alt="">
</div>
