.main-content {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-white);
  width: 60vw;
  padding-top: 20vh;
}

.main-content-h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 20px;
}

.main-content-p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 70%;
  color: var(--text-muted);
  padding-bottom: 20px;
}

.main-content-button {
  width: 130px;
  height: 35px;
  border-radius: 30px;
  background-color: var(--button-bg);
  border: none;
  padding: 5px;
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}
